.UserSearch{
    width:40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    & p{
        font-size: 0.9em;
        
    }
    & .Search{
        display: flex;
    }
}

@media(min-width:65em){
    .UserSearch{
        border:1px solid #ccc;
        border-radius: 0.8em;
        padding:1em 0;
        & p::after{
            content: ':';
        }
    }
}