.Main {
  display: flex;
  flex-flow: row wrap;
  width:90%;
  margin: 0 auto;
  & .Title{
    font-size: 2em;
    text-align: center;
    flex:1 1 100%;
  }
}

@media(min-width:65em){
  .Main{
    width: 80%;
  }
}