.Input{
    width:90%;
    box-sizing:border-box;
    margin: 0 auto;
    & .Label{
        font-weight: bold;
        display: block;
    }
    & .InputElement{
        outline:none;
        border: 1px solid #ccc;
        background-color: white;
        font:inherit;
        padding:1.5em 0.6em;
        display:block;
        box-sizing: border-box;
        margin: 0 0.6em;
        &:focus{
            outline:none;
            background-color:#ccc;
        }
    }
    & select.InputElement{
        width:100%;
        margin: 0 0 2em;
    }
}

@media(min-width:65em){
    .Input{
        width:auto;
        margin: 0 0 0 1em;
        & .InputElement{
            padding:0.45em 0.6em;
        }
        & select.InputElement{
            width:auto;
        }
    } 
    
}