.Repos{
    margin: 1.25em auto;
    width:100%;
    & .Repos_Container{
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    & .ErrorMessage{
        width: 100%;
        text-align: center;
    }
}

@media(min-width:50em){ .Repos{ margin:0 0 0 3em;} }
@media(min-width:65em){ .Repos{ margin:0 0 0 4em;} }
@media(min-width:75em){ .Repos{ margin:0 0 0 5em;} }
@media(min-width:100em){ .Repos{ margin:0 0 0 6.5em;} }